3. Exploratory Data Analysis  
3.1 Imports & loading Data  
3.2 Explore the data  
   * a. Features scanning & evaluation  
   * b. Visualization  
   * c. PCA tranformation if needed
* 3.3 Conclusion & summary

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import

In [4]:
GunVio20132018 = pd.read_csv('../data/Clean_data/GunViolence2013_2018.csv',index_col='date')

In [5]:
GunVio20132018.head(2)

,incident_id,state,city_or_county,address,n_killed,n_injured,incident_url,source_url,incident_url_fields_missing,congressional_district,...,state_senate_district,date.1,year,month,monthday,weekday,total loss,participant_type_map,participant_age_map,participant_gender_map
date,,,,,,,,,,,,,,,,,,,,,
2013-01-01,461105,Pennsylvania,Mckeesport,1506 Versailles Avenue and Coursin Street,0,4,http://www.gunviolencearchive.org/incident/461105,http://www.post-gazette.com/local/south/2013/0...,False,14.0,...,NaN,2013-01-01,2013,1,1,1,4,"{'0': 'Victim', '1': 'Victim', '2': 'Victim', ...",{'0': '20'},"{'0': 'Male', '1': 'Male', '3': 'Male', '4': '..."
2013-01-01,460726,California,Hawthorne,13500 block of Cerise Avenue,1,3,http://www.gunviolencearchive.org/incident/460726,http://www.dailybulletin.com/article/zz/201301...,False,43.0,...,35.0,2013-01-01,2013,1,1,1,4,"{'0': 'Victim', '1': 'Victim', '2': 'Victim', ...",{'0': '20'},{'0': 'Male'}